*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body{
  background: $color-primary; 
}

.parallax-container {
  font-family: 'Playball', cursive;
  min-height: 70vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  @media screen and (max-width: 1024px) {
    min-height: 100vh;
    
}
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
#download-button{
  background-color: $color-tertiary !important;
}