.services{
   
    margin-top: 5rem;
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        @media screen and (max-width: 1024px) {
           margin: 0;
            margin-top: 1rem;
            flex-direction: column;
        }
    }

    &__card-1{
       
        transform: translateY(-15px);
            opacity: 0;
            transition: all .3s ease-in;
            background-color: $color-secondary;
            width: 25%;
            padding: 2rem 0;
            border-radius: 5px;
            color: $text-color;
            margin-right: 5rem;
            margin-top: 5rem;

            @media screen and (max-width: 1024px) {
                width: 100%;
                margin: 5rem;
                padding: 4rem 6rem;
            }

       
    }
    &__card-2{
       
        transform: translateY(-15px);
            opacity: 0;
            transition: all 1s ease-in;
            background-color: $color-secondary;
            width: 25%;
            padding: 2rem 0;
            border-radius: 5px;
            color: $text-color;
            margin-right: 5rem;
            margin-top: 5rem;

            @media screen and (max-width: 1024px) {
                width: 100%;
                margin: 5rem;
                padding: 4rem 6rem;
                transition: all .7s ease-in;
            }

       
    }
    &__card-3{
       
        transform: translateY(-15px);
            opacity: 0;
            transition: all 1.7s ease-in;
            background-color: $color-secondary;
            width: 25%;
            padding: 2rem 0;
            border-radius: 5px;
            color: $text-color;
            margin-right: 5rem;
            margin-top: 5rem;

            @media screen and (max-width: 1024px) {
                width: 100%;
                margin: 5rem;
                padding: 4rem 6rem;
                transition: all .7s ease-in;
            }

       
    }
    &__image{
        text-align: center;
        color: #fc5185;
        overflow: hidden;
    }
    &__text{
       
        text-align: center;
    }
    &__header{
        color: $text-color;
        text-align: center;
        font-size: 2.5rem;
        margin-top: 6rem;
        font-family: 'Playball', cursive;
        @media screen and (max-width: 1024px) {
       
            padding: 0;
        }
    }
    &__lead{
        margin-top: .5rem;
        font-size: 1.5rem;
    }

    &__list{
        list-style-type: none;
    }
    &__item{
 
    }

}

.services__card-1.fade-in{
    transform: translateY(-30px);
    opacity: 1;
}
.services__card-2.fade-in{
    transform: translateY(-30px);
    opacity: 1;
}
.services__card-3.fade-in{
    transform: translateY(-30px);
    opacity: 1;
}